<h1>Todo List</h1>
<div ng-repeat="item in items | filter: {task: searchText.search}">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <div class="col-xs-7">{{item.task}}</div>
      <div class="col-xs-2">{{item.dueDate}}</div>
      <div class="col-xs-1">{{item.assignedTo}}</div>
      <div class="col-xs-1"><button class="btn btn-danger">X</button></div>
    </div>
  </div>
</div>
<!-- now we have to make this item list share data with the search text on html. we'll do this using a factory -->

<!-- since we have a search factory we change this filter to say searchText.search instead of just searchText -->